/* common shareed styles*/
body{
  font-family: 'Open Sans', sans-serif;
}
.text-primary{
  color:#FD6E0A;
}
.btn-primary{
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  color:white;
  font-size: 20px;
  font-weight:700;
  padding: 15px  35px;
}
/* nav related styles */
.section-title{
  color:#181818;
  text-align: center;
  font-size: 35px;
  font-weight: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-description{
  color: #474747;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;

}
nav{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 20px;
  margin: 0 200px;


}
.nav-title{
  color:#181818;
  font-size: 45px;
  font-weight: 800;
}

nav >ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;

}
/* header related styles*/
.header{
  background-color: #FFF8F3;
  background-image: url('images.webp/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  
}
.banner{
  padding:  0px ;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.banner-content{
  max: width 500px;
}
.banner .profile-pic{
  width: 350px;
  height: auto;
}
.banner-greeting{
  font-size: 45px;
  color:#474747;
  margin-bottom:0;

}
.banner-title{
  font-size: 85px;
  font-style: normal;
  font-weight:700;
  margin-top:5px;
}

/*main section styles */
/* about section styles*/
main{
  max-width:1140px;
  text-align: center;
  margin: 0 auto;

}
.about{
  padding: 130px;
  border-radious:10px;
  background: #FFF8F3;
  margin: 130px;

}
.about-info-container{
  display:flex;
  justify-content:space-around ;
}
.about-info{
  text-align: center;
}

